<main>
  <div class="container">
    <div class="row mt-2 mt-lg-2">

      <div class="col-12 col-lg-3">
        <%= link_to "＜＜前のページに戻る", :back %>
      </div>
      <!--投稿されているお知らせの詳細-->
      <div class="col-10 offset-1">
        <div class="border bg-white p-5">
          <h2 class="text-center">
            <%= @flyer.title %>
          </h2>
          <div class="text-center mt-5 col-12">
            <%= image_tag @flyer.image, class:"img-fluid" %>
          </div>
          <div class="mt-5">
            <%= safe_join(@flyer.body.split("\n"),tag(:br)) %>
          </div>
          <% if @flyer.url.blank? %>
          <% elsif @flyer.url.length > 7 %>
            <div class="text-center mt-5">
              <%= link_to @flyer.url, @flyer.url %>
            </div>
          <% end %>
          <div class="text-center mt-5 col-12">
            <%= image_tag @flyer.banner, class:"img-fluid" %>
          </div>
          <div class="text-center mt-5">
            <%= image_tag @flyer.user.get_profile_image, size: "80x80", class:"rounded-circle" %>
            <p><%=link_to @flyer.user.display_name, admin_user_path(@flyer.user.id) %></p>
          </div>
          <div id="tag" class="text-info mt-5">
            <% if @flyer.tags.exists? %>
              <%= image_tag "tag_icon.png" %>
              <% @flyer.tags.each do |tag| %>
                <%= tag.tag_name %>
              <% end %>
            <% end %>
          </div>
          <div class="text-center">
            <!--告知を非表示にする-->
            <% if @flyer.user.is_delete %>
              退会ユーザーです
            <% elsif @flyer.is_deleted %>
              非表示中
            <% else %>
              <%=link_to "非表示にする", admin_flyer_path(@flyer.id), method: :patch, class: 'mt-4 btn btn-outline-danger' %>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>