<div>
  <table>
    <tbody>
      <% flyer.comments.order(id: :DESC).each do |comment| %>
        <% if comment.user.is_delete || comment.is_deleted %>
        <% else %>
        <tr>
          <td class="p-2">
            <%= link_to "/" do %>
              <%= image_tag comment.user.get_profile_image, size:"45x45", class:"rounded-circle" %><br />
            <% end %>
          </td>
          <td>
            <%= comment.comment %> <br />
            <small><%= link_to comment.user.display_name, user_path(comment.user.id) %>
            <% if comment.user == current_user %>
              <%= link_to "削除", flyer_comment_path(flyer, comment), method: :delete, remote: true, class:"text-danger" %></small>
            <% end %>
          </td>
        </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>