<main>
  <div class="container">
    <div class="row mt-2 mt-lg-2">

      <div class="col-12 col-lg-3">
        メニューエリア
      </div>
      <!--投稿されているお知らせの詳細-->
      <div class="col-10 offset-1">
        <div class="border bg-white p-2 p-lg-5">
          <h2 class="text-center">
            <%= @flyer.title %>
          </h2>
          <div class="text-center mt-5 col-12">
            <%= image_tag @flyer.image, class:"img-fluid" %>
          </div>
          <div class="mt-5">
            <%= safe_join(@flyer.body.split("\n"),tag(:br)) %>
          </div>
          <% if @flyer.url.present? && @flyer.url.length > 7 %>
            <div class="text-center mt-5">
              <%= link_to @flyer.url, @flyer.url %>
            </div>
          <% end %>
          <div class="text-center mt-5 col-12">
            <%= image_tag @flyer.banner, class:"img-fluid" %>
          </div>
          <div class="text-center mt-5">
            <%= image_tag @flyer.user.get_profile_image, size: "80x80", class:"rounded-circle" %>
            <p><%=link_to @flyer.user.display_name, user_path(@flyer.user.id) %></p>
          </div>
          <div id="tag" class="text-info mt-5">
            <% if @flyer.tags.exists? %>
              <%= image_tag "tag_icon.png" %>
              <% @flyer.tags.each do |tag| %>
                <%= link_to tag.tag_name, tag_path(tag.id) %>
              <% end %>
            <% end %>
          </div>
          <div class="col-1 offset-11 mt-3">
            <!--クリップ-->
            <div style="width:40px;height:40px;display:inline-block;">
              <%= render "public/clips/btn", flyer: @flyer %>
            </div>
          </div>
          <% if @flyer.user == current_user %>
            <div class="text-right mt-4">
              <%= link_to '編集', edit_flyer_path(@flyer), class: "text-success" %>
              <%= link_to '削除', @flyer, method: :delete, data: { confirm: '本当に消しますか？' }, class: "text-danger" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="col-10 offset-1 mt-3">
        <div class="border bg-white p-5 text-center">
          <h5 class="p-3 text-info">共有</h5>
            <!--シェア機能-->
            <!--URLをコピーする-->
            <input id="copyTarget"  type="text" value=<%= "#{request.url}" %> readonly style="display:inline-block;", class="pr-2 col-8 form-control">
            <%= image_tag 'share_icon_lg.png', onclick:"copyToClipboard()", style:"cursor: pointer;", class:"pr-3" %>
            <!--Twitterに共有する-->
            <%=link_to image_tag('Twitter_icon_lg.png'), "https://twitter.com/share?url=#{request.url}/&text=#{@flyer.title}", title: 'Twitter', target: '_blank', class:"pr-2" %>
        </div>
      </div>

      <!--表示されているお知らせに対するコメント-->
      <div class="col-10 offset-1 mt-3">
        <div class="border bg-white p-5">
          <%= render "public/comments/form", flyer: @flyer, comment: @comment %>
          <%= render "public/comments/index", flyer: @flyer %>
        </div>
      </div>

    </div>
  </div>
</main>

<!--URLをコピーする-->
<script>
        function copyToClipboard() {
            // コピー対象をJavaScript上で変数として定義する
            var copyTarget = document.getElementById("copyTarget");

            // コピー対象のテキストを選択する
            copyTarget.select();

            // 選択しているテキストをクリップボードにコピーする
            document.execCommand("Copy");

            // コピーをお知らせする
            alert("アドレスをコピーしました : " + copyTarget.value);
        }
    </script>