<main>
  <div class="container">

    <div class="row mt-2 mt-lg-4">
      <% if user_signed_in? %>
        <%= render 'public/users/menu'%>
      <% elsif admin_signed_in? %>
      <% else %>
        <%= render 'public/homes/menu'%>
      <% end %>

      <div class="col-10 col-lg-6">
        <div>
          <h4 class="text-info d-flex align-items-center">
            <%= image_tag "tag_icon_lg.png", class:"mt-2 pr-2" %>
            <%= @tag.tag_name %>
          </h4>
        </div>
        <%= render 'public/flyers/index', flyers: @flyers %>
      </div>

    </div>
  </div>
</main>