<div class="col-2 col-lg-3">
  <div>
    <ul class="list-unstyled">
      <li class="d-flex align-items-center">
        <%= link_to new_flyer_path do %>
        <div class="d-none d-lg-block">
          <%= image_tag "new_icon_lg.png", class:"mt-2 pr-2" %>
          お知らせを投稿する
        </div>
        <div class="d-block d-lg-none">
          <%= image_tag "new_icon_lg.png", class:"mt-2 pl-2" %>
        </div>
        <% end %>
      </li>
      <li class="d-flex align-items-center">
        <%= link_to clipedflyer_path do %>
        <div class="d-none d-lg-block">
          <%= image_tag "clip_icon_lg.png", class:"mt-2 pr-2" %>
          クリップしたお知らせ
        </div>
        <div class="d-block d-lg-none">
          <%= image_tag "clip_icon_lg.png", class:"mt-2 pl-2" %>
        </div>
        <% end %>
      </li>
      <li class="d-flex align-items-center">
        <%= link_to myflyer_path do %>
        <div class="d-none d-lg-block">
          <%= image_tag "flyers_icon_lg.png", class:"mt-2 pr-2" %>
          投稿したお知らせ
        </div>
        <div class="d-block d-lg-none">
          <%= image_tag "flyers_icon_lg.png", class:"mt-2 pl-2" %>
        </div>
        <% end %>
      </li>
      <% if current_user.display_name != "guestuser" %>
      <li class="d-flex align-items-center">
        <%= link_to users_information_edit_path do %>
        <div class="d-none d-lg-block">
          <%= image_tag "setting_icon_lg.png", class:"mt-2 pr-2" %>
          ユーザー情報・編集
        </div>
        <div class="d-block d-lg-none">
          <%= image_tag "setting_icon_lg.png", class:"mt-2 pl-2" %>
        </div>
        <% end %>
      </li>
      <% end %>
    </ul>
  </div>
</div>