<main>
  <div class="container">

    <div class="row mt-2 mt-lg-4">
      <% if user_signed_in? %>
        <%= render 'public/users/menu'%>
      <% elsif admin_signed_in? %>
      <% else %>
        <%= render 'public/homes/menu'%>
      <% end %>

      <div class="col-10 col-lg-9">

          <% if @is_profile %>
          <!--告知やコメントのユーざーリンクから表示する場合はプロフィールリンクを表示する-->
          <div class="col-10 mt-2 border bg-white p-0 text-center">
            <div class="bg-info p-2" style="width:100%;">
              <%= image_tag @user.get_profile_image, size: "80x80", class:"rounded-circle" %>
              <h4 class="text-white"><%= @user.display_name %></h4>
            </div>
            <div class="text-left p-3">
                <%= @user.description %>
            </div>
            <div class="text-left p-3">
              <% if @user.url.blank? %>
              <% elsif @user.url.length > 7 %>
                <%=image_tag "home_icon_lg.png", size: "30x30" %>
                <%= link_to @user.url.truncate(20), @user.url  %>
              <% end %>
            </div>
          </div>
          <% end %>

          <div>
            <% if @is_profile %>
                <h4 class="text-info d-flex align-items-center mt-3">
                  <%= image_tag "flyers_icon_lg.png", class:"mt-3 pr-2" %>
                  <%= @user.display_name %>さんのお知らせ
                </h4>
            <% else %>
              <% if @alert_flyers.present? %>
                <h4 class="text-info d-flex align-items-center">
                  <%= image_tag "alert_icon_lg.png", class:"mt-3 pr-2" %>
                  リマインダー
                </h4>
                <%= render 'public/flyers/alert_index', alert_flyers: @alert_flyers %>
              <% end %>
                <h4 class="text-info d-flex align-items-center">
                  <%= image_tag "flyers_icon_lg.png", class:"mt-3 pr-2" %>
                  新着お知らせ
                </h4>
            <% end %>
          </div>
        <%= render 'public/flyers/index', flyers: @flyers %>
      </div>

    </div>
  </div>
</main>